<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Code & Theology</title>

    <%= stylesheet_link_tag "normalize", "all", "style", "syntax" %>
    <%= javascript_include_tag  "jquery", "ga", "mobile" %>
  </head>

  <body lang="en-US" class="home blog custom-background <%= page_classes %>">
    <section class="top-bar cf">
      <button class="mobile-nav-button">
        <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><rect x="0.208" y="10.167" fill="#FFFFFF" width="99.792" height="19.958"></rect><rect x="0.208" y="40.104" fill="#FFFFFF" width="99.792" height="19.958"></rect><rect x="0.208" y="70.041" fill="#FFFFFF" width="99.792" height="19.959"></rect></svg>
        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path fill="#FFFFFF" d="M63.973 49.999l34.76-34.762c1.335-1.333 1.335-3.494 0-4.826l-9.144-9.146 c-1.333-1.332-3.493-1.332-4.827 0L50 36.028L15.237 1.265c-1.332-1.332-3.493-1.332-4.826 0l-9.146 9.146 c-1.333 1.332-1.333 3.493 0 4.826l34.763 34.762L1.267 84.762c-1.334 1.334-1.334 3.493 0 4.826l9.145 9.146 c1.333 1.334 3.495 1.334 4.826 0L50 63.973l34.761 34.761c1.334 1.334 3.493 1.334 4.826 0l9.146-9.146 c1.333-1.333 1.333-3.492 0-4.826L63.973 49.999z"></path></svg>
        <span class="mobile-nav-label">Navigation</span>
      </button>
    </section>
    <ul id="mobile-menu" class="menu mobile-menu mobile-nav">
      <li class="menu-item close-item close">
        <button class="mobile-nav-close-button">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path fill="#FFFFFF" d="M63.973 49.999l34.76-34.762c1.335-1.333 1.335-3.494 0-4.826l-9.144-9.146 c-1.333-1.332-3.493-1.332-4.827 0L50 36.028L15.237 1.265c-1.332-1.332-3.493-1.332-4.826 0l-9.146 9.146 c-1.333 1.332-1.333 3.493 0 4.826l34.763 34.762L1.267 84.762c-1.334 1.334-1.334 3.493 0 4.826l9.145 9.146 c1.333 1.334 3.495 1.334 4.826 0L50 63.973l34.761 34.761c1.334 1.334 3.493 1.334 4.826 0l9.146-9.146 c1.333-1.333 1.333-3.492 0-4.826L63.973 49.999z"></path></svg>
          <span class="mobile-nav-close-button-label">Close</span>
        </button>
      </li>
      <li class="menu-item menu-label primary_nav_label">Main Menu</li>
      <li class="menu-item "><a href="/">Home</a></li>
      <li class="menu-item "><a href="<%= tag_path("code") %>">Code</a></li>
      <li class="menu-item "><a href="<%= tag_path("theology") %>">Theology</a></li>
      <li class="menu-item "><a href="<%= tag_path("life") %>">Life</a></li>
    </ul>

  <!-- Header	-->
  <header id="header" class="cf">
    <div class="in">
      <section class="logo-box logo-box-no-header-cta logo-box-full-width">
        <h1 id="title" class="site-title site-title-no-logo no-logo">
          <a href="/" title="Code &amp; Theology (&amp; Life)">
            Code &amp; Theology (&amp; Life)			</a>
          </h1>
          <h2 id="slogan" class="slogan ">
          </h2>
        </section>
      </div>

      <nav class="primary-nav-container">
        <div class="in">
          <ul id="primary-nav" class="primary-nav menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom
                       <%= "current_page_item" if !defined?(tagname) %>">
              <a href="/">Home</a>
            </li>
            <% data.tags.tags.each do |tag| %>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category
                         <%= "current_page_item" if tag == current_tag %>">
                <a href="<%= tag_path(tag) %>"><%= tag %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <div class="in">
      <%= yield %>
      <% if current_page.data.comments %>
        <%= disqus %>
        <%= disqus_count %>
      <% end %>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="in">
        <section class="copyright-area">
        </section>
      </div>

      <section class="copyright">
        <div class="in">
          <p class="copyright-message">
            <span class="site-copyright">
              Copyright © 2015 <a href="/">Code &amp; Theology (&amp; Life)</a>. All Rights Reserved.</span>
              <span class="slocum-credit">
                <a href="http://slocumthemes.com/wordpress-themes/capture-free/" target="_blank">Capture by Slocum Studio</a>
            </span>
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
